


<p>This is the partial for the calendar {{ greeting }}</p>
<span ng-click="addNewestMessagesToFirebase()">run addNewestMessagesToFirebase</span>
<p ng-click="filterMessages()">run filterMessages</p>
<br>

<div ng-click="filterMessages(day)">
  <calendar selected="day"></calendar>
  Selected day: {{ day.format('dddd, MMMM Do YYYY, h:mm:ss a') }}
</div>


<p>
  Start of this day: {{ startOfDay(day) }} {{ toMomentFormat(startOfDay(day))}}
</p>

<p>
  End of this day: {{ endOfDay(startOfDay(day)) }} {{ toMomentFormat(endOfDay(startOfDay(day)))}}
</p>



<div>
  <h3>All Messages:</h3>
  <div ng-repeat="message in messages">
    <p>{{ message.name}} ({{ message.created_at }}) - {{ message.text }}</p>
    <p>{{ message }}</p>
  </div>

  <br>
</div>

